.bg-secondary {
    background-color: #0c4e57; /* secondary color */
}
.text-highlight {
    color: #059212; /* text highlight color */
}
.font-poppins {
    font-family: 'Poppins', sans-serif; /* Poppins font */
}
.font-bold {
    font-weight: 700; /* bold font weight */
}
.bg-primary {
    background-color: #0A6847; /* primary color */
}
.bg-secondary {
    background-color: #0c4e57; /* secondary color */
}
.text-highlight {
    color: #059212; /* text highlight color */
}
.font-roboto {
    font-family: 'Roboto', sans-serif; /* Roboto font */
}
.font-poppins {
    font-family: 'Poppins', sans-serif; /* Poppins font */
}
.input-ring {
    border-color: #0A6847; /* ring color */
    box-shadow: 0 0 0 1px #0A6847;
}
.input-ring:focus {
    box-shadow: 0 0 0 1.8px #0A6847;
}
.error-toast {
    color: #e53e3e; /* error color */
}
.bg-secondary {
    background-color: #0c4e57; /* Secondary color */
}
.text-highlight {
    color: #059212; /* Highlight color */
}
.bg-primary {
    background-color: #5ebb27; /* Primary color */
}
.bg-hover {
    background-color: #1a4d2e; /* Hover color */
}
.transition-transform {
    transition: transform 0.2s, box-shadow, background-color;
}
.hover-transform {
    transform: translateY(-5px);
}
.bg-primary {
    background-color: #5ebb27; /* Primary color */
}
.bg-hover {
    background-color: #1a4d2e; /* Hover color */
}
.transition-transform {
    transition: transform 0.2s, box-shadow, background-color;
}
.hover-transform {
    transform: translateY(-5px);
}
.bg-primary {
    background-color: #5ebb27; /* Primary color */
}
.bg-hover {
    background-color: #1a4d2e; /* Hover color */
}
.transition-transform {
    transition: transform 0.2s, box-shadow, background-color;
}
.hover-transform {
    transform: translateY(-5px);
}

.card-grid-3 {
    width: 100%;
    padding-top: 1.25rem; /* pt-5 */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-1 */
    gap: 5px; /* gap-3 */
}
.card-grid-2 {
    width: 100%;
    padding-top: 1.25rem; /* pt-5 */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid-cols-1 */
    gap: 5px; /* gap-3 */
}

@media (min-width: 640px) { /* sm breakpoint */
    .card-grid-3 {
        width: 600px;
        grid-template-columns: repeat(3, 1fr); /* sm:grid-cols-3 */
        gap: 5px; /* sm:gap-8 */
    }
    .card-grid-2 {
        width: 400px;
        grid-template-columns: repeat(2, 1fr); /* sm:grid-cols-3 */
        gap: 5px; /* sm:gap-8 */
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px; /* gap-3 */
    padding: 1.5rem; /* p-6 */
    border-radius: 0.375rem; /* rounded-md */
    transition: transform 0.3s ease;
    cursor: pointer;
    color: white;
    background-color: #0A6847;
}

.card:hover {
    transform: scale(1.05); /* hover:scale-105 */
}
svg {
    width: 100px; /* Adjust size as needed */
    height: auto;
}